@model Employee
<div class="container">
    <form method="post" class="row" asp-action="Delete">
        <div class="mb-3">
            <label asp-for="@Model.Name">Name</label>
            <input asp-for="@Model.Name" class="form-control" disabled />

        </div>
        <input asp-for="@Model.Id" type="hidden" />
        <div class="mb-3">
            <label asp-for="@Model.Age">Age</label>
            <input asp-for="@Model.Age" class="form-control" disabled />

        </div>
      <div class="mb-3">
            <label asp-for="@Model.DateOfBirth">DateOfBirth</label>
            <input type="date" asp-for="@Model.DateOfBirth" class="form-control" disabled />

      </div>
       <div class="mb-3">
            <label asp-for="@Model.Salary">Salary</label>
            <input asp-for="@Model.Salary" class="form-control" disabled />

       </div>
       <div class="mb-3">
            <select asp-for="@Model.Gender" class="form-select" disabled>
                <option value="">--Select Gender--</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
       </div>
        
       <div class="mb-3">
            <button type="submit" class="btn mt-3 btn-danger">Delete Employee</button>

       </div>

    </form>
    
</div>
